*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
#hero-section{
    background-image: url('pic/background-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 40px;
    background-color: #555050;
    background-blend-mode: multiply;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.item{
    display: flex;
    gap: 20px;
}
input{
    background: transparent;
    padding: 10px 0px 10px 3px;
    outline: none;
    border: 1px solid white;
}
.serch-icon{
    display: flex;
    justify-content: space-between;
}
.item a{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.item a:hover{
    color: #78eb12;
}
.description{
    margin-top: 90px;
    width: 60%;

}
.description h2{
    font-size: 60px;
    color: yellow;
}
.description p{
    color: aliceblue;
    line-height: 25px;
    padding: 10px 0px;
    font-size: 18PX;
}
.description p a{
    color: aliceblue;
}
.card-view{
    display: flex;
    gap: 40px;
}
.card{
    width: 23%;
}
.card .design-1{
    background-color: #000000;
    padding: 30px 45px;
    text-align: center;
}
.design-1 p{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.design-1 h2{
    color: azure;
    font-size: 45px;
}
.design-2 {
    background-color: #6e4545;
    /* background: transparent; */
    text-align: center;
    padding: 20px 0px;
}
.design-2 p{
    padding: 10px 0px;
    color: rgb(255, 255, 255);
}
.btn a{
    background-color: #f0cb66;
    color: aliceblue;
    padding: 10px 20px;
}
.btn{
    padding: 20px;
}
.btn a:hover{
    background-color: #e68c05;
}

.card .design-second{
    background-color: #e4b405;
    padding: 30px 45px;
    text-align: center;
}
.design-second p{
    color: rgb(31, 31, 26);
    font-size: 25px;
}
.design-second h2{
    color: rgb(13, 15, 15);
    font-size: 45px;
}
.design {
    background-color: #834949;
    background: transparen;
    text-align: center;
    padding: 20px 0px;
}
.design p{
    padding: 10px 0px;
    color: azure;
}
.btn-2 a{
    background-color: #bd8b01;
    color: aliceblue;
    padding: 10px 20px;
}
.btn-2{
    padding: 20px;
}
.btn-2 a:hover{
    background-color: #edb35b;
}
/* ===start main section== */
.main-section{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #ded2d2;
    padding: 50px;
}
.service-img{
    background-color: #ee842d;
    
}
.service-img img{
    height: 500px;
    width: 450px;
    padding: 0px 30px;
}
.service-text{
    padding: 68px 0px;
    background-color: #ffffff;
    text-align: center;
}
.service-text h2{
    padding: 150px 0px 30px 0px;
}
.service-text p{
    font-size: 18px;
    padding-bottom: 20px;
}
.bitn{
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 12px 30px;
    background-color: #f17b05;
}
.bg-img{
    background-image: url('pic/bg-last.jpg');
    background-repeat: no-repeat;
    background-size: cover;background-position: center;
    padding: 40px 0px;
    background-blend-mode: multiply;
    background-color: #4b4040;
}
.main-card-design{
    display: flex;
    
}
.box-model{
    background-color: #ffffff;
    padding: 40px 25px;
    position: relative;
    width: 270px;
    margin-left: 45px;
}
.box-model .logo{
    position: absolute;
    top: 30px;
    left: 210px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #8f3a3a;
    padding: 5px;
}
.box-model h3{
    font-size: 20px;
    padding: 15px 0px;
}
.box-model p{
    color: #8a7d7d;
    padding-bottom: 20px;
}
.box-model .read{
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    background-color: #f17b05;
}
.defination{
    display: grid;
    /* margin: 30px; */
    width: 100%;
    margin: 20px 0px;
    /* padding: 20px; */
    background-color: #ffffff;
    grid-template-columns: auto auto;
}
.fast-definationn{
    margin-left: 20px;
}
.fast-defination-img img{
    height: 300px;
    margin-bottom: 10px;
    width: 100%;
}
.fast-defination-img-2 img{
    height: 320px;
    margin-top: 15px;
    width: 100%;
}
.fast-defination-textt{
   padding: 80px 20px;
    background-color: #f79626;
}
.fast-defination-text{
   padding: 80px 20px;
    background-color: #cfbba5;
}
.fast-defination-text h2{
    padding: 20px 0px;
}
.fast-defination-text p{
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 20px;
}
.fast-defination-textt h2{
    padding: 20px 0px;
}
.fast-defination-textt p{
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 20px;
}
.fast-defination-btn{
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 20px 35px;
    background-color: #f17b05;
}
.fast-defination-btn:hover{
    background-color: #0f0c0c;
}
.last-part{
    background-color: #000000;
}
.last-part p{
    padding: 40px 0px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}